{% extends 'employee_register/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %}

<p> employee crud operation  </p>
<form accept-charset="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form|crispy}}

        <div class="col-md-4">
    <button type="submit" class="btn btn-success btn-block btn-sl"><i class="fas fa-database"></i>Sign in</button>
            </div>
        <div class="border-top pt-3">
            <small class="text-muted">
             Need Account?<a href="{% url 'register'  %}" class="ml-2">Sign UP Now</a>
                </small>
</div>
    </form>
{% endblock content%}